.wtCard {
    background-color: rgb(255, 255, 255);
    padding: 30px 50px;
    margin: 10px;
    border-radius: 100px;
    font-size: 1.3rem;
}

.wtCard .alert {
    border-radius: 100px;
}

.alert{
    padding: 1rem 2rem;
}

@media only screen and (max-width: 600px) {
    .wtCard, .alert {
        border-radius: 40px !important;
        padding: 10px 20px ;
    }
}