.player {
    display: block;
    position: absolute;
    color: black;
    border-radius: 100px;
    top: 60px;
    right: 95px;
    z-index: 2;
    width: 1px;
}

@media (max-width: 599px) {
    .player {
        top: 12px;
    }
}